/* || General setup */

html,
body {
  margin: 0;
  padding: 0;
}

html {

  background-image: url("../imagenes/fondo.webp");
}

body {
  background-color: rgb(244, 244, 244);
  margin: 0 auto;
}

/* || Typography */
h1,
h2,
h3 {
  font-family: 'Roboto Mono', monospace;
  color: #2a2a2a;
}

p,
input,
li {
  font-family: 'PT Serif', serif;
  color: #2a2a2a;
}

h1 {
  font-size: 1.8rem;
  text-align: center;
  text-shadow: 2px 2px 10px black;
}

h2 {
  font-size: 1.4rem;
  text-align: center;
}

h3 {
  font-size: 1.1rem;
  padding: 20px;
}

p,
li {
  font-size: 1.1rem;
  line-height: 1.5;
}

/* || Header layout */
header {
  background: rgb(125, 122, 198);
  background: linear-gradient(90deg, rgba(5, 5, 5, 0.812) 0%, rgb(74, 72, 73) 18%, rgba(0, 0, 0, 0.764) 87%);
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
}

main,
header,
nav,
article,
aside,
footer,
section {
  text-align: justify;
  padding: 0px 10px 0px 10px;
}

h1 {
  flex: 5;
  text-transform: uppercase;
}

header img {
  height: 60px;
  margin-top: 5px;
  display: flex;
}

header nav {
  height: 50px;
  flex: 100%;
  margin-top: 20px;
}

header nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

header nav li {
  display: inline;
  text-align: center;
  flex: 1px;
}

header nav a {
  background-color: rgba(106, 13, 92, 0.339);
  text-decoration: none;
  background-image: linear-gradient(white, red);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}

header nav a:hover,
a:focus {
  background-size: 100% 2px;
}



nav a,
nav span {
  display: inline-block;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  padding: 5px;
}

/* || Main layout */
p {
  padding: 10px;

}

main ul {
  padding-left: 10px;
}

main li {
  line-height: 30px;
}

article {
  flex: 4;
}

section {
  flex: 1 0 80%;
  min-width: 80%;
}

aside {
  flex: 1;
  margin-left: 10px;
  padding: 1%;
}

aside a {
  display: block;
  float: left;
  width: 50%;
}

aside img {
  max-width: 100%;
}

footer {
  border-top: 2px solid black;
  margin-top: 40px;
}

table {
  font-size: 20px;
  border-collapse: collapse;

}

video {
  width: 100%;
  max-width: 600px;
}

td,
th {
  border: 1px solid #a9a9a9;
  padding: 10px;
  text-align: center;
}

caption {
  background-color: #a9a9a9;
  font-size: 1rem;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

section div {
  text-align: center;
}

section table,
section div {
  margin: 0 auto;
}

.organizers {
  text-align: center;
}


.organizers div figure img {
  width: 100%;
}

.organizers div {
  padding: 10px;
}

.competitions-images {
  display: flex;
  justify-content: center;
}


main nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

main nav ul li {
  margin: 5px;
  background-color: rgba(89, 226, 181, 0.253);
}


#video_loop {
  margin-top: 20px
}

#video_growl_up {
  margin-top: 20px;
}

.col_white_amrc {
  color: #FFF;
}

footer {
  width: 100%;
  background-color: #080a0c;
  min-height: 150px;
  padding: 10px 0px 25px 0px;
}

.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}

footer p {
  font-size: 13px;
  color: #CCC;
  padding-bottom: 0px;
  margin-bottom: 8px;
}


.bottom_border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
}

.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}

.foote_bottom_ul_amrc li {
  display: inline;
}

.foote_bottom_ul_amrc li a {
  color: #999;
  margin: 0 12px;
}

.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
}

.social_footer_ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}

.social_footer_ul li a {
  color: #CCC;
  border: 1px solid #CCC;
  padding: 8px;
  border-radius: 50%;
}

.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}

form {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

input[type="submit"],
input[type="reset"] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

fieldset {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
}

legend {
  font-weight: bold;
  margin-left: 10px;
}

select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f1f1f1;
}