/* || General setup */

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background-color: rgb(166, 166, 166);}


body {
  background-color: rgb(244, 244, 244);
  margin: 0 auto;
}

/* || typography */

h1,
h2,
h3 {
  font-family: 'Roboto Condensed', cursive;
  color: #2a2a2a;
}

p,
input,
li {
  font-family: 'Roboto Condensed', sans-serif;
  color: #2a2a2a;
}

h1 {
  font-size: 1.8rem;
  text-align: center;
  text-shadow: 2px 2px 10px black;
}

h2 {
  font-size: 1.4rem;
  text-align: center;
}

h3 {
  font-size: 1.1rem;
}

p,
li {
  font-size: 1.1rem;
  line-height: 1.5;
}

/* || header layout */

header {
  background-color:rgb(255, 255, 255);
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
}


main,header,nav,article,aside,footer,section {
  text-align: justify;
  padding: 0px 10px 0px 10px;
}

h1 {
  flex: 5;
  text-transform: uppercase;
}

header img {

  height: 60px;
  margin-top: 5px;
  display: flex;
}

header nav {
  height: 50px;
  flex: 100%;
  
}

header nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

header nav li {
  display: inline;
  text-align: center;
  flex: 1px;
}

nav a,
nav span {
  display: inline-block;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;

}

/* || main layout */



article {
  flex: 4;
}

section {
  flex: 1 0 80%;
  min-width: 80%;
}

aside {
  flex: 1;
  margin-left: 10px;
  padding: 1%;
}

aside a {
  display: block;
  float: left;
  width: 50%;
}

aside img {
  max-width: 100%;
}

footer {
  margin-top: 10px;
}

table {
  font-size: 20px;
  border-collapse: collapse;

}

video {
  width: 100%;
  max-width: 600px;
}

td,
th {
  border: 1px solid #a9a9a9;
  padding: 10px;
  text-align: center;
}

caption {
  background-color: #a9a9a9;
  font-size: 1rem;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

section div {
  text-align: center;
}

section table,
section div {
  margin: 0 auto;
}

.organizers {
  text-align: center;
}


.organizers div figure img {
  width: 100%;
}

.organizers div {
  padding: 10px;
}
.competitions-image{
  display: flex;
}
.competitions-image img{
  justify-content:flex-end;

}